
.auto-style1 {
	
	background-color: #FFFFCC;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


body 
{
background: rgb(15,0,0);
background: linear-gradient(0deg, rgba(15,0,0,1) 0%, rgba(124,2,2,1) 48%, rgba(1,17,20,1) 100%);
}



img
{
	width:570px;
	height: 550px;
}
#well{
	color:blue;
	position:default;
	padding:15px;
	font-size:150px;
	text-align:center
}
a{
font-size:40px;
}

.menu
{
	width:90%;
	margin:0 auto;
	background-color:gray;
	min-height:68px;
	min-width:842px;
}

.m-menu {


margin 0;
padding:0;
}

.menu > ul > li 
{
	float:left;
	display: block;
	position:relative;
	font-size:16px;
	background-color:gray;
	border-right:1px solid black;
}
.menu > ul > li:hover {
background-color:lightblue;
}
.menu > ul > li > a 
{
	color:white;
	padding:10px 40px;
	display:block;
	text-shadow:0px 1px 0px rgba(0,0,0,0.4);
	text-decoration:none;
}
.menu > ul > li:last-child {
  border-right: none;
  border-left: 1px solid black;
  float:right;
}
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-toggle:hover .dropdown-menu{
display: block;
}
.dropdown-item{
display: block;
}
.dropdown-item:hover{
background-color:lightgray;
}
.dropdown-item > a {
position:relative;
text-decoration:none;
display: block;
width:80%;
text-align:center;
margin:20px;
}