.table1
{
	 width: 80%;
	 border: 3px solid #008000;
	background-color: #FFFFFF;

}
body 
{
background: rgb(15,0,0);
background: linear-gradient(0deg, rgba(15,0,0,1) 0%, rgba(124,2,2,1) 48%, rgba(1,17,20,1) 100%);
}
h1
{

	color: #005097;
	text-align:center;
	font-family: Helvetica, sans-serif, "Comic Sans MS";
	font-size:35pt;	
	width: 1210px;
	margin: 10 auto;
}


.auto-style1 {
	border: 3px solid #FF0000;
	background-color: #FFFFCC;
}



#sn{
	color: red;
	font-family:OldCyr, Helvetica, sans-serif;
	position:absolute;
	font-style:italic;
	border:thick;	
}
.class1
{
color:fuchsia;
font-size:98px;
}

.class1:hover
{
	color: green;
	font-size: 123px;
}


img
{
	width:570px;
	height: 550px;
}
#well{
	color:blue;
	position:default;
	padding:15px;
	font-size:150px;
	text-align:center
}
a{
font-size:40px;
}
