h1{
	color: red;
	font-family:OldCyr, Helvetica, sans-serif;
	position:absolute;
	font-style:italic;
	border:thick;	
}
.class1
{
color:fuchsia;
font-size:98px;
}

.class1:hover
{
	color: green;
	font-size: 123px;
}


img
{
	width:570px;
	height: 550px;
}

